[
    {rabbit, [    
{% if ssl_only %} 
        {tcp_listeners, []},
{% else %}
    	{tcp_listeners, [5672]},
{% endif %}
    	{ssl_listeners, [{{ ssl_port }}]},
    	{ssl_options, [
 	        {verify, verify_peer},
{% if ssl_client %} 
                {fail_if_no_peer_cert, true}, 
{% else %}
                {fail_if_no_peer_cert, false},
{% endif %}{% if ssl_ca_file %} 
                {cacertfile, "{{ ssl_ca_file }}"}, {% endif %}
        	{certfile, "{{ ssl_cert_file }}"},
        	{keyfile, "{{ ssl_key_file }}"}
    	]}
    ]}
].    